@page
@model ITA.Wad.Cars.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label"></label>
                <input asp-for="Car.Brand" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Model" class="control-label"></label>
                <input asp-for="Car.Model" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.ProductionYear" class="control-label"></label>
                <input asp-for="Car.ProductionYear" class="form-control" />
                <span asp-validation-for="Car.ProductionYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.EngineCapacity" class="control-label"></label>
                <input asp-for="Car.EngineCapacity" class="form-control" />
                <span asp-validation-for="Car.EngineCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Power" class="control-label"></label>
                <input asp-for="Car.Power" class="form-control" />
                <span asp-validation-for="Car.Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Chassis" class="control-label"></label>
                <input asp-for="Car.Chassis" class="form-control" />
                <span asp-validation-for="Car.Chassis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.FuelType" class="control-label"></label>
                <input asp-for="Car.FuelType" class="form-control" />
                <span asp-validation-for="Car.FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Photo" class="control-label"></label>
                <input asp-for="Car.Photo" class="form-control" />
                <span asp-validation-for="Car.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Description" class="control-label"></label>
                <input asp-for="Car.Description" class="form-control" />
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Price" class="control-label"></label>
                <input asp-for="Car.Price" class="form-control" />
                <span asp-validation-for="Car.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Contact" class="control-label"></label>
                <input asp-for="Car.Contact" class="form-control" />
                <span asp-validation-for="Car.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
